body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, able, input, textarea, select{
    margin: 0;
    padding: 0;
    list-style: none;  /*去掉以上标签自身属性*/
}
body{
    background-color:#e9eaed;
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;    /*修改连接自身属性*/
}

.header {
    width: 100%;
    height: 60px;
    background: #1C2327 ;
}
.headerBOX {
    width: 1200px;
    height: 100%;
    background:#1C2327 ;
    margin: 0 auto ;
}
.headerBOX h1{
    /*width: 160px;*/
    height: 100%;
    margin-right: 80px;
    background: #1C2327 ;
    float:left;        /*浮动*/
    line-height: 60px;   /*垂直居中*/
    font-family: 楷体;    /*修改字体*/
    /*font-size: larger;    修改字体大小*/
}
.title{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e4e3e3;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.title::before {
    content: '';
    height: 2px;
    width: 60px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: black ;
    transition: all .5s ease-in;
    overflow: hidden;
}
.title:hover::before {
    content: '';
    height: 2px;
    width: 80px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: black ;
    transition: all .5s ease-in;
    overflow: hidden;
}


.header .headerBOX ul{
    /*width: 760px;*/
    height: 100%;
    margin-right: 190px;
    background: #1C2327 ;
    float:left;
}
.headerBOX ul li{
    margin: 0 20px;
    float: left;
    line-height: 60px;
    font-family: 微软雅黑;
}
.headerBOX a{
    color: white;
}
.header .headerBOX .search{
    /*width: 50px;*/
    height: 100%;
    background: blue ;
    float:right;
}
.title{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e4e3e3;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.title::before {
    content: '';
    height: 2px;
    width: 60px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: black ;
    transition: all .5s ease-in;
    overflow: hidden;
}
.title:hover::before {
    content: '';
    height: 2px;
    width: 80px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: black ;
    transition: all .5s ease-in;
    overflow: hidden;
}





.tail {
    width: 1200px;
    height: auto;
    margin: 20px auto;
    background: #e9eaed;
}
.tail .tailLeft{
    width: 900px;
    height: auto;
    margin: 0 18px 0 0;
    background: #e9eaed;
    float: left;
}
.tail .tailLeft .essay {
    width: 860px;
    /*height: 760px;*/
    padding: 20px;
    background: #ffffff ;
}
.essay .essayuptitle{
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #e4e3e3;
    margin-bottom: 20px;
}
.essay .essayud > ul > li{
    width: 860px;
    height: 204px;
    padding-top: 20px;
    border-bottom: 1px dotted #e4e3e3;
    margin-bottom: 20px;
}
.essay .essayud > li .essayuptitle {
    width: 860px;
    height: 18px;
    margin-top: 25px;
    background: #ffffff ;
}
.essay .essayud .essayuptitle h3 a{
    font-size: 18px;
    float: left;
}
.essay .essaycontent .left{
    width: 200px;
    height: 100px;
    margin-top: 14px;
    margin-bottom: 23px;
    float: left;
}
.essay .essaycontent .right{
    width: 640px;
    height: 124px;
    margin-left: 20px;
    margin-top: 14px;
    float: left;
}
.essay .essaycontent .right p{
    margin-bottom: 10px;
    font: 14px/1.5 微软雅黑 sans-serif;
    height: 62px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    size: 10px;
}
.essay .essaycontent .right li{
    width: 80px;
    height: 28px;
    float: left;
    margin-top: 32px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.essay .essaycontent .right .button{
    width: 80px;
    height: 28px;
    border-radius: 2px;
    background: #12b7de;
    float: right;
    text-align: center ;
}
.essay .essaycontent .right img{
    width: 34px;
    height: 34px;
    margin-left: 20px;
    float: left;
}


.tail .tailRight{
    width: 282px;
    height:auto;
    /*margin: 0 18px 0 0;*/
    background: #e9eaed;
    float: right;
}
.tail .tailRight .ranking{
    width: 242px;
    height: auto;
    margin: 0 0 20px 0;
    padding: 20px;
    background: #ffffff;
}
.tail .tailRight .ranking .P img{
    width: 242px;
    height: 70px;
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
}
.tail .tailRight .ranking {
    width: 242px;
    /*height: 230px;*/
    padding: 20px;
    /*margin-top: 20px;*/
    /*margin-left: 14px ;*/
    background:#ffffff;
    border-radius: 5px;
    float:right;
}
.tail .tailRight .ranking .rankcontent li a{
    width: 100%;
    color: black;
    display: block;
    margin-left: 5px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tail .tailRight .ranking .rankcontent li{
    width: 214px;
    height: 30px;
    margin: 10px auto;
    font-size: 14px;
    padding-left: 30px;
    color: black;
    border-radius: 5px;
    background: #f6f6f6;
    position: relative;
}
.ranking .rankcontent li::before{
    content:'1';
    width: 16px;
    height: 16px;
    background: #ff6600 ;
    text-align: center ;
    display: block;
    line-height: 16px;
    font-size: 14px;
    color: #ffe7ff;
    position: absolute;
    left:9px;
    top:7px;
}
.ranking .rankcontent li:first-child::before{
    content: "1";
    background: #ff6600 ;
    color: #ffe7ff;
}
.ranking .rankcontent li:nth-child(2)::before{
    content: "2";
    background: #ff6600 ;
    color: #ffe7ff;
}
.ranking .rankcontent li:nth-child(3)::before{
    content: "3";
    background: #ff6600 ;
    color: #ffe7ff;
}
.ranking .rankcontent li:nth-child(4)::before{
    content: "4";
    background: #b1b1b1 ;
    color: #ffe7ff;
}
.ranking .rankcontent li:nth-child(5)::before{
    content: "5";
    background: #b1b1b1 ;
    color: #ffe7ff;
}
.ranking .rankcontent li:nth-child(6)::before{
    content: "6";
    background: #b1b1b1 ;
    color: #ffe7ff;
}
.ranking .rankcontent li:nth-child(7)::before{
    content: "7";
    background: #b1b1b1 ;
    color: #ffe7ff;
}






.tail .tailRight .recommend{
    width: 242px;
    height: auto;
    margin: 0 0 20px 0;
    padding: 20px;
    background: #ffffff;
}
.tail .tailRight .recommend  img{
    width: 242px;
    height: 70px;
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
}
.tail .tailRight .recommend {
    width: 242px;
    /*height: 230px;*/
    padding: 20px;
    /*margin-top: 20px;*/
    /*margin-left: 14px ;*/
    background:#ffffff;
    border-radius: 5px;
    float:right;
}
.tail .tailRight .recommend .recommendcontent li{
    width: 242px;
    height: 60px;
    margin: 10px auto;
    color: black;
    /*border-radius: 5px;*/
    background: #f6f6f6;
    font-size: 14px;
}
.tail .tailRight .recommend .recommendcontent li a{
    color: black;
}
.tailRight .recommend .recommendcontent > ul > li img {
    width: 70px;
    height: 60px;
    float: left;
}

footer {
    background: #373D41; width: 100%; border-top: #00C1DE 10px solid; padding: 30px 0; color: #73777a; font-size: 14px;
    display: flex;
    position: relative;
    top: 50px;
}
.wxbox { overflow: hidden; float: left; margin-right: 20px }
.wxbox li { float: left; margin: 0 10px; text-align: center ;
    height: 121px;width:100px;}
.wxbox img { height: 100px }
.wxbox li p{
    color: #73777a;
    z-index: 1000;
}
.endnav b { font-size: 16px; color: #00c1de; }
.endnav p { margin-bottom: 5px ;}
footer a { color: #73777a; }
footer a:hover { color: #00C1DE }
.top { width: 40px; height: 40px; display: block; background: url(http://jxhx.yangqq.com/skin/jxhx/images/top.png) no-repeat center #000; right: 20px; bottom: 10%; position: fixed }

.box, article {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}